.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.totals {
  text-align: start;
}

.totalItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formItem-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: start;
}

.count_input {
  display: flex;
}
